[package]
name = "volki"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "volki"
path = "src/main.rs"

[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
panic = "abort"
